.contentleft h1{
    text-align: center;
}
.rowarticles
{
    display: flex;
}
.homearticle
{
    flex-direction: column;
}
.content
{
    /* background-color: bisque;   */
    height: auto;
    /* height: fit-content; */
}
.contentleft
{
   font-family: var(--font-4);
   font-size: 17px;
}
.blogpostmeta
{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    font-family: var(--font-1);
    
}
.authorinfo{
    margin: 10px 0px;
}
.authorinfo div{
    padding: 3px;
    font-weight: bolder;
}
.social
{
    padding-right: 30px;
    align-self: center;
    cursor: pointer;
}