*
{
    margin: 0;
    padding: 0;
    
}
.authorinfo
{
  color:rgb(223, 73, 73) ;
}
.featured h2{
  text-align: center;
  color: rgb(223, 73, 73);
  font-size: 30px;
}
.navigation
{
    margin-top: 12px;
    font-family: var(--font-2);
    /* height: 60px; */
    padding: 5px;
    /* background-color: red;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mar
{
    margin-top: 220px;
}
.navleft
{
  font-size: 20px;
  display: flex;
}
.navleft span
{
  font-size: 25px;
  
}
.navleft ul 
{
  display: flex;
  align-items: center;
  margin: 0 70px;
  font-size: 22px;
}
.navleft ul li
{
  list-style: none;
  margin: 0 10px;
}
.navleft ul li a
{
 text-decoration: none;
 color: black;
}
.navleft ul li a:hover
{
 color: rgb(223, 73, 73);
 font-weight: bolder;
}
.contentright
{
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.contentright ol li
{
  color: rgb(223, 73, 73);
}
.contentright ol li a
{
   text-decoration: none;
   color: rgb(223, 73, 73);
}
.contentright img
{
  height: 250px;
  /* border: 2px solid black; */
    border-radius: 25px
}
.contentleft
{
    /* width: 50%; */
    /* padding: 50px; */
    display: flex;
   flex-direction: column;
   justify-content: center; 
}
.content
{
    /* height: 380px; */
   /* background-color: rgb(223, 223, 248); */
   display: flex;
   margin-top: 15px;
   padding: 10px;
}
.homearticles
{
    /* height: 290px; */
 /* background-color: rgb(255, 133, 174); */
 padding-top : 15px;
 margin-top: 12px;
 position: relative;
}
.yearbox {
  position: absolute;
  width: 150px;
  height: 200px;
  right: 0px;
  top: 25px;
  display: flex;
  /* background-color: aqua; */
}
.homearticle
{
  display: flex;
  margin: 25px;
  /* padding-left: 15px; */
  
}
.homearticlecontent
{
  align-self: center;
  padding: 25px;
}
.homearticlecontent h3 a
{
  color:rgb(223, 73, 73) ;
  text-decoration: none;
  
}
.homearticle img
{
   width: 250px;
}
.footer
{
    height: 50px;
    background-color: rgb(223, 73, 73);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;

}
.socialfooter
{
  padding-left: 30px;
  align-self: center;
  cursor: pointer;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: brown; */
  }
  .sticky + .contentt {
    padding-top: 60px;
  }
  .navbar
  {
      overflow: hidden;
      /* background-color: aqua */
      /* position: fixed; */
  }
  .contentleft h1{
      font-size: 48px;
      /* font-family: var(--font-4); */
  }
  .contentleft p{
    font-size: 20px;
    font-family: var(--font-2);
 } 
  .emailcontact a
  {
      text-decoration: none;
 }
 .contentleft h1{
   font-family: var(--font-2);
   color: rgb(223, 73, 73);
 }
  .allarticles
 {
  display: flex; 
  
 }
 .a
 {
   width: 250px;
   background-color: rgb(252, 177, 177);
   /* margin-left: 20px; */
 }
 .containera
 {
   display: flex;
 }
 .people
 {
   color: rgb(223, 73, 73);
 }
  /* .x{
    /* background-color: bisque; */
    /* width: 452px; */
  
 